<div id="post-demo-marketing" class="p-3">
  <div class="row align-items-center">
    <div class="col col-md-6 offset-md-3">
      <h4 class="text-center"> Cool, right? </h4>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col col-md-6 offset-md-3">
      <h2 class="text-center"> But there is so much more Freebee can do.  Let's discuss more over coffee. </h2>
    </div>
  </div>
</div>

<%= render partial: 'layouts/about_me_bar' %>
