<div>
<%= link_to(ad_campaign.display_description, store_ad_campaign_path(ad_campaign.store_id, ad_campaign.id)) %>
<%= button_to "Delete", 
              { action: "destroy", store_id: ad_campaign.store_id, id: ad_campaign.id},
              method: :delete, 
              data: { confirm: "Are you sure?" },
              class: 'btn btn-danger' %>
</div>