<% if @campaign.nil? %>
  That campaign was not found.
<% else %>
  <div><%= @campaign.description %></div>
  <div>Size: <%= @campaign.ad_campaign_targets.size %> max targets</div>  

  <%= render partial: 'ad_targets', locals: { button_type: :download } %>

  <%= render partial: 'download_targets' %>
<% end %>