  <div class="row">
    <h4 class="col "> See it in action </h4>
  </div>
  <div class="row">
    <p class="col ">Watch a customer user their phone to stamp a loyalty card and claim a reward.</p>
  </div>
  <div class="row justify-content-center">
    <div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" id="demo-video" controls  playsinline>
        <source src="https://s3.us-east-2.amazonaws.com/freebee-for-me/freebee_demo_v2.mp4" type="video/mp4">
      </video>
    </div>
  </div>