<div class="demo-step">
  <div class="row">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-circle btn-lg">1</i></button>
      <span class="instruction-title-v2 align-middle">Purchase something</span>
    </div>
  </div>
  
  <div class="row">
    <div class="col-4 offset-1"> 
      <%= image_tag("step_1", class: "flowchart-img") %>
    </div>
  </div>

  <div class="row demo-step-explanation">
    <div class="col-10 offset-1"> 
      <small class="text-muted">This example uses a restaurant, but car shops, dry cleaners, and other businesses are also appropriate.</small>
    </div>
  </div>
</div>