<div class="ribbon"> 
  <!-- <div class="instruction-title">
    <div >SEND A TEXT</div>
  </div> -->
  <span class="instruction-title">SEND A TEXT</span>
  <div class="instruction-body">
    <div class="hidden-sm-up">
      <a class="btn btn-primary" href="sms:demo_1678@freebeefor.me">demo@freebeefor.me</a>
    </div>

    <div class="hidden-xs-down">
      <span class="align-middle">demo@freebeefor.me</span>
    </div>
  </div>
  <span class="explanation text-muted align-middle">Acquires your customer's mobile number.</span>
  <!-- <div class="explanation text-muted">Acquires your customer's mobile number.</div> -->
</div>

<!--  style="background-color: #b1b0a3; border-color: #b1b0a3;" -->