<div class="row">
  <div class="col-12">
    <button type="button" class="btn btn-primary btn-circle btn-lg"><%= step_number %></i></button>
    <span class="instruction-title-v2 align-middle">ENROLLMENT</span>
  </div>
</div>


<div class="row hidden-sm-up">
  <div class="col-10 offset-2">
    <a class="btn btn-primary" href="sms:demo@freebeefor.me">demo@freebeefor.me</a>
  </div>
</div>

  <!-- <div class="hidden-xs-down"> -->
   <!--  <div class="col-10 offset-2"> -->
   <div class="row hidden-xs-down">
      <div class="col-10 offset-1"> <p>Send a text to <span class="badge badge-success">demo@freebeefor.me</span>.</p></div>
    <!-- </div> -->
  </div>
</div>