<div class="row justify-content-center">
  <div class="hidden-sm-up">
    <%= image_tag("satisfaction-icon.png", class: "img-fluid flowchart-img-small") %>
  </div>
  <div class="hidden-sm-down">
    <%= image_tag("satisfaction-icon.png", class: "img-fluid flowchart-img-large") %>
  </div>
</div>

<div class="row justify-content-center">
  <div class="hidden-sm-up">
    <%= image_tag("Social_Media_Marketing.png", class: "img-fluid flowchart-img-small") %>
  </div>
  <div class="hidden-sm-down">
    <%= image_tag("Social_Media_Marketing.png", class: "img-fluid flowchart-img-large") %>
  </div>
</div>