<div class="row justify-content-center">
  <div class="col offset-1">
    <div class="" style="width: 25rem;">
      <div class="card-block">
        <h5 class="card-title">Loyalty Rewards</h4>
        <p class="font-size-small"><%= loyalty_rewards_blurb %></p>
      </div>
      <div class="row justify-content-center">
        <%= image_tag("satisfaction-icon.png", class: "field-name-field-highlight-image", id: "satisfaction-icon") %>
      </div>
      <div class="row justify-content-center">
        <div id="satisfaction-icon-attribution-popup" style="display: none;">
          <span>CC by</span>
          <a href="http://www.freeiconspng.com/free-images/satisfaction-icon-10030">
            Ahkâm
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="" style="width: 25rem;">
      <div class="card-block">
        <h4 class="card-title">Smart advertising</h4>
        <p class="font-size-small"><%= smart_advertising_blurb %></p>
      </div>
      <div class="row justify-content-center">
        <%= image_tag("Social_Media_Marketing.png", class: "field-name-field-highlight-image", id: "social-media-icon") %>
      </div>
      <div class="row justify-content-center">
        <div id="social-media-icon-attribution-popup" style="display: none;">
          <span>CC by</span>
          <a href="https://www.iconfinder.com/Introwiz1">
          Nicola Simpson
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
