<div class="jumbotron">
  <h1 class="display-3">Freebee</h1>
  <p class="lead"><%= t('jumbotron_pitch') %></p>
  <hr class="my-4">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <b> No cards. </b>
      </div>
    </div>
    <div class="row">
      <div class="col-5 offset-1">
        No apps.
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-2">
        Just awards.
      </div>
    </div>
  </div>
</div>
