<div id="main-page-jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-sm-6">
      <h1 class="display-3">Freebee</h1>
       <!-- <p>Unlock smarter advertising with text message based loyalty rewards.</p> -->
       <p> <%= t('jumbotron_pitch') %> </p>
      
       <hr class="my-4">
       <p class="lead">No cards.  No apps.  Just rewards. </p>
    </div>
  </div>
</div>
