<div class="card">
  <div class="card-header">Step 2</div>
  <div class="card-block">
    <h4 class="card-title">Provide name</h4>
    <p class="card-text">You should receive a loyalty card and a second message requesting your name.</p>
    <p class="card-text">Reply to the message with another text message giving your name.</p>
    <p class="card-text"><small>*Acquiring your customer's name facilitates the composition of intimate ads directed at your most loyal customers. </small></p>
  </div>
</div>