<div class="card">
  <div class="card-header card-inverse" style="background-color: #6f6f6a; border-color: #6f6f6a;">Step 1</div>
  <div class="card-block">
    <h4 class="card-title">Enrollment</h4>
    <p class="card-text">Send a text to:</p>
    <div class="hidden-sm-up">
      <a class="btn btn-primary" href="sms:demo_1678@freebeefor.me">demo_1678@freebeefor.me</a>
    </div>
    <div class="hidden-xs-down">
      <b>demo@freebeefor.me</b>
    </div>
  </div>
  <div class="card-footer text-muted" style="background-color: white">Acquires your customer's mobile number.</div>
</div>

<!--  style="background-color: #b1b0a3; border-color: #b1b0a3;" -->