<div id="try-it">
  <div class="row justify-content-center"> 
    <div class="col text-center">
      <div class="hidden-sm-up">
        <a class="btn btn-warning btn-lg" href="sms:+19526496372">Try the demo!</a>
      </div>
      <div class="hidden-xs-down">
        <button type="button" class="btn btn-warning btn-lg">Try the demo!</button>
      </div>
      <small class="text-muted">&nbsp;&nbsp;&nbsp;*Starts demo by texting (952) 649-6372.</small></p>
    </div>
  </div>
</div>