 <a class="btn btn-warning btn-lg" href="sms:+19526496372">Try the demo!</a>
<ul class="list-unstyled">
 <li><small class="text-muted">Sends text to (952) 649-6372.</small></li>
 <li><small class="text-muted">Type whatever message you want.</small></li>
 <li><small class="text-muted">Wait ~30 for response.</small></li>
</ul>