<div id="try-it">
  <div class="row justify-content-center"> 
    <div class="col text-center">
      <div class="hidden-sm-up">
        <%= render 'try_it_small' %>
      </div>
      <div class="hidden-xs-down">
        <%= render 'try_it_big' %>
      </div>
    </div>
  </div>
</div>

<!--
<div class="hidden-xs-down">
        <button type="button" class="btn btn-warning btn-lg">Try the demo!</button>
      </div>
-->