<div id="try-it" class="mint-green">
  <div class="row">
    <div class="col-1">
      <p class="font-italic"> Give it a try. </p>
    </div>

    <div class="col-5">
      <p class="card-text">Send a text to:</p>
      <div class="hidden-sm-up">
        <a class=class="btn btn-primary" href="sms:demo_1678@freebeefor.me">demo@freebeefor.me</a>
      </div>
      <div class="hidden-xs-down">
        <b>demo@freebeefor.me</b>
      </div>
      <p class="text-muted">Yes, you can send a text message to an email address.</p>
    </div>

    <div id="stamped-card" class="col-4">
      <h6>Follow the prompts and get a stamped card</h6>
      <%= image_tag("France_44_1.jpg", class: "field-name-field-highlight-image", id: "stamped-card") %>
    </div>
  </div>
</div>