<div class="col-6 offset-3">
<ul class="list-group">
  <li class="list-group-item list-group-item-success"><h4>Try the demo!</h4></li>
  <li class="list-group-item"><small class="text-muted">Send a text to (952) 649-6372.</small></li>
  <li class="list-group-item"><small class="text-muted">Type whatever message you want.</small></li>
  <li class="list-group-item"><small class="text-muted">Wait for a response.</small></li>
</ul>
</div>