<div id="try-it">
  <div class="row justify-content-end">
    <div class="col-1">
      <p id="try-it-badge" class="badge badge-success font-italic">Try it</p>
      
    </div>

    <div class="col-6">
      <p>Send a text to <u>demo@freebeefor.me</u>
      <br>
      <small class="text-muted">&nbsp;&nbsp;&nbsp;*Yes, you can send a text message to an email address.</small></p>
    </div>

    <div class="col-4" id="stamped-card">
      <div class="row justify-content-center">
        <%= image_tag("France_44_1.jpg", class: "rounded col", id: "stamped-card") %>
      </div>
      <div class="row">
        <p class="col">Follow prompts</p>
      </div>
    </div>
  </div>
</div>