<div class="row justify-content-center">
  <div class="col offset-1">
    <h4 class="card-title">Wholesalers</h4>
    <p class="font-size-medium">Secure your customers. Reward them independtly of your retail partners.</p>
  </div>
</div>
