<p>Reward customers and reward yourself with Stamp Stamp's loyalty rewards platform.</p> 
<h5> Try it </h5>
<div class="bd-example">
<h6> Step 1 </h6>
Send a text to <a href="sms:demo_1234@stampstamp.com&body=Stamp Stamp Demo">demo_2383@stampstamp.com</a>
</div>
