<p>Reward customers and reward yourself with Stamp Stamp's loyalty rewards platform.</p> 
<h5> Try it </h5>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'step_1' %>
  </div>
</div>
