
<div id="main-page-jumbotron" class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="col-sm-6">
      <h1 class="display-3">Freebee</h1>
      <p class="lead">No cards.  No apps.  Just rewards. </p>
    </div>
  </div>
</div>

<div id="demo-section"> 
  <div class="container">


    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_1' %>
      </div>
    </div>

    <div class="row demo-step">
      <div class="col-sm-6 offset-sm-3">
        <img src=<%= image_url('France_44_1.jpg') %> class="img-fluid" alt="Loyalty Card">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_2' %>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <%= render 'step_3' %>
      </div>
    </div>
  </div>
</div>