<%= render 'jumbotron_2' %>

<div id="introduction" class="container-fluid">
  <%= render partial: 'introduction' %>
</div>

<div id="flowcharts" class="container">
  <div class=" col-xs-12 offset-md-3 col-md-6">
    <%= render 'flowchart_carousel' %>
  </div>
</div>