
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">The HookUp</h1>
    <p class="lead">No cards.  No apps.  Just rewards. </p>
  </div>
</div>

<div id="demo-section"> 
<div class="row">
  <div class="offset-sm-2">
    <h4>Try the demo to see if we are right for your customers.</h4> 
   </div>
</div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= render 'step_1' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= render 'step_2' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= render 'step_3' %>
    </div>
  </div>
</div>