<p>Reward customers and reward yourself with Stamp Stamp's loyalty rewards platform.</p> 
<div class="row">
  <div class="offset-sm-2">
    <h4>Try the demo to see if we are right for your customers.</h4> 
   </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'step_1' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= render 'step_2' %>
  </div>
</div>
