<div name="patron_name"><%= @patron.full_name %></div>
<div name="phone_number"><%= @patron.phone_number %></div>
<div name="email">email: <i>feature missing</i></div>
<div name="social-graph">social: <i>feature missing</i></div>
