<div name="store-name"><%= @store.name %></div>

Patrons
<% @patrons.each do |p| %>
  <div name="patron">
    <%= link_to p.full_name, "/store/#{@store.id}/patrons/#{p.id}", class: "patron", id: "patron-link-#{p.id}" %>
  </div>
<% end %>