<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">First Name</Data></Cell>
        <Cell><Data ss:Type="String">Last Name</Data></Cell>
        <Cell><Data ss:Type="String">Phone Number</Data></Cell>
      </Row>
    <% @patrons.each do |patron| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= patron.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= patron.first_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= patron.last_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= patron.phone_number %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>