<%= render 'patron_profile' %>
<div> Current Card </div>
<%= image_tag @current_card %>

<div> Check Ins </div>
<% @check_ins_for_this_store.each do |check_in| %>
  <div><%= check_in.created_at %><div>
<% end %>

<div> Redemptions </div>
<% @patron.redemptions.each do |redemption| %>
  <div> <%= redemption.created_at %> </div>
<% end %>


