<%= render 'patron_profile' %>
<div> Current Card </div>
<%= image_tag @current_card %>

<%= render 'check_ins/table' %>

<div> Redemptions </div>
<% @patron.redemptions.each do |redemption| %>
  <div> <%= local_relative_time(redemption.created_at) %> </div>
<% end %>


