.icon-button {
  padding: .25rem .5rem;
}

#filter-button {
  background-color:  #292b2c;
  padding: .25rem .5rem;
}

#filter-button i {
  color: white;
}

#ad-campaign-target-filter {
  display: none;
}

.form-inline .radio label {
  margin-left: 5px;
}

.form-inline .control-label {
  margin-right: 2px;
  font-weight: bold;
}

