$mint-green: #1bc98e;
$mint-green-trans: rgba(27, 201, 142, 0.3);
$mint-green-opaque: rgba(27, 201, 142, 1);
$mint-green-light: rgba(165, 243, 216, 1);

$ruby-red: #e64759;

$light-purple: #9f86ff;

$mustard-yellow: #e4d836;
