#main-page-jumbotron {
  background: -webkit-linear-gradient(left,rgba(164,163,147,0.3),rgba(164,163,147,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(164,163,147,0.3),rgba(164,163,147,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(164,163,147,0.3),rgba(164,163,147,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(164,163,147,0.3), rgba(164,163,147,1)); /*Standard*/

  margin-bottom: 0px;
}

#demo {
  margin-top: 3px;
}

.demo-step {
  padding-bottom: 5px;
  
}

.card {
  box-shadow: 2px 2px 2px #888888;
}

.demo-step-label {
  background-color: $mint-green;
  padding: 10px;
  box-shadow: 2px 2px 2px #888888;
}

.demo-step-label .step-name {
  color: rgba(255, 255, 255, 0.65);
  text-transform: uppercase;
  text-align: center;
}

.demo-step-label .step {
  color: white;
  font-size: 20px;
  text-align: center;
}

.mint-green {
  background-color: $mint-green;
  opacity: .6;
}

.ruby-red {
  background-color: $ruby-red;
}

.mustard-yellow {
  background-color: $mustard-yellow;
}

.light-purple {
  background-color: $light-purple;
}

// body {
//   color: white;
//   //background: #293a46;
// }