.flowchart-img-small {
  height: 275px;
}

.flowchart-img-large {
  height: 350px;
}

.flowchart-title {
  color: black;
  text-transform: uppercase;
  padding-left: 10px;
}

.flowchart-step-number {
  font-size: 16px;
}

.flowchart-box {
  padding-top: 2px;
  padding-left: 2px;
  // padding-bottom: 5px;
  margin-top: 4px;
  box-shadow: 10px 10px 10px 3px rgb(164,163,147);
  //border-left: thin solid rgba(164,163,147,0.3);
  //border-top: thin solid rgba(164,163,147,0.3);
  background-color: white;
}

#flowcharts {
  //background-color: rgba(164,163,147,0.3);
}