.flowchart-img-small {
  height: 275px;
}

.flowchart-img-large {
  height: 350px;
}

.flowchart-title {
  color: black;
  text-transform: uppercase;
  padding-left: 10px;
}

.flowchart-step-number {
  font-size: 16px;
}

.flowchart-box {
  padding-top: 2px;
  padding-left: 2px;
  margin-top: 8px;
  margin-bottom: 10px;
  box-shadow: 10px 10px 10px 3px rgb(164,163,147);
  //border-left: thin solid rgba(164,163,147,0.3);
  //border-top: thin solid rgba(164,163,147,0.3);
  background-color: white;
}

#flowcharts {
  //background-color: rgba(164,163,147,0.3);
  margin-top: 2px;
  margin-bottom: 2px;
}

.flowchart-explanation {
  //background-color: rgba(236,236,233,1);
  margin-right: 18px;
  margin-left: 18px;
  text-align: center;
}