
/* Ribbon is a background on which the demo's instructions are displayed.*/
.ribbon {
  background: -webkit-linear-gradient(left, $mint-green-opaque, $mint-green-trans); /*Safari 5.1-6*/
  background: -o-linear-gradient(right, $mint-green-opaque, $mint-green-trans); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, $mint-green-opaque, $mint-green-trans); /*Fx 3.6-15*/
  background: linear-gradient(to right,  $mint-green-opaque,  $mint-green-trans);
}

/* Terse task to complete, such as 'Send text to...'.  
  Color: contrasts the underlying .ribbon. 
  Position: Top, text aligned left.
  Size: ?
  */
.instruction-title {
  color: gray;
  //padding-left: 10px;
  border-bottom: thin solid $mint-green-light;
}
.instruction-title-v2 {
  color: gray;
  text-transform: uppercase;
  padding-left: 10px;
}

/* More verbose instruction details that could include images, buttons, etc.*/
.instruction-body {
  padding-top: 10px;
  //padding-left: 10px;
  //padding-bottom: 20px;
}

/* Small line that dives the instruction from the explanation.  */
.divider {

}


/* Text explaining why the task is necessary. Faint, grayish-white text in 
    a small font. */
.explanation {
  padding-top: 1px;
  vertical-align: bottom;
  border-top: thin solid $mint-green-light;
}
