#try-it {
  color: black;
  font-size: 20px;
  //height: 200px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#stamped-card {
  width: auto;
  max-height: 96px;
}

#demo-video {
  
}

#demo-section {
  padding-top: 30px;
  padding-bottom: 10px;
}