  <div class="row">
    <div class="col col-md-1">
      <img alt="" src="https://1.gravatar.com/avatar/78209193ed087e4d5044beb9d847b4fc?s=96&amp;d=mm&amp;r=g" srcset="https://1.gravatar.com/avatar/78209193ed087e4d5044beb9d847b4fc?s=192&amp;d=mm&amp;r=g 2x" class="avatar avatar-96 photo" height="96" width="96">
    </div>
    <div class="col col-md-6">
      <h4 class="pl-3">Matt Rasmuson</h4>
      <p class="pl-3"> Programmer for Main Street businesses. Reach me at 612-581-6321 or matt@freebeefor.me.</p>
    </div>
  </div>
