<div class="navbar-light" style="background-color: #a4a393;">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-end">
      <div class='col'>
        <img src=<%= image_url('bee.png') %> width="30" height="30" alt=""></a>
      </div>
      <div class='col' align="center">
        <div class="freebee">Freebee</div>
      </div>
      <div class='col' align="right">
        <div class="email">matt@freebeefor.me</div>
      </div>
    </div>
  </div>
</div>