<nav class="navbar navbar-dark bg-inverse">
  <a class="navbar-brand" href="#">Stamp Stamp</a>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <% if @store.nil? %>
        <a class="nav-link" href="#"</a>
      <% else %>
        <a class="nav-link" href=<%=store_patrons_path(@store) %> >Patrons</a>
      <% end %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Check ins</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Loyalty cards</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Ads</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Admin</a>
    </li>
  </ul>
</nav>