<nav class="navbar navbar-light navbar-toggleable-md">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#"><img src=<%= image_url('bee.png') %> width="30" height="30" alt=""></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-item nav-link" data-toggle="pill" href="#" >
          Patrons
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" data-toggle="pill" href="#" > 
          Activity 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" data-toggle="pill" href="#">Cards</a>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" data-toggle="pill" href="#">Admin</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button>
    </form>
  </div>
</nav>